= form_for [:admin, book] do |f|
  .block
    fieldset
      legend Basic Info

      p
        = f.label :title
          | Title
          span.req<> *
          span.forms-desc<> Always nice to feel important.
        br
        = f.text_field :title, placeholder: "Norwegian Wood", class: "input-gray width-50"
      p
        = f.label :author
        br
        = f.text_field :author, placeholder: "Haruki Murakami", class: "input-gray width-50"

  .block
    fieldset
      legend Description
      = f.text_area :description, id: "description"

  .block
    fieldset
      legend Publication Info
      
      p
        = f.label :publisher
        br
        = f.text_field :publisher, class: "input-gray width-50"

      p
        = f.label :isbn_10, "ISBN-10"
        br
        = f.text_field :isbn_10, class: "input-gray width-50"

      p
        = f.label :isbn_13, "ISBN-13"
        br
        = f.text_field :isbn_13, class: "input-gray width-50"

  .block
    = f.button :submit, class: "btn btn-green width-40"
