.block
  h1 Edit profile

= form_for current_user do |f|
  .block
    fieldset
      legend Basic Info

      p
        = f.label :name
          | Your Name
          span.req<> *
        br
        = f.text_field :name, class: "input-gray width-50"
      p
        = f.label :address
        br
        = f.text_field :address, class: "input-gray width-50"

  .block
    = f.button :submit, class: "btn btn-green"
