.block
  = link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-green"
  span<>
  = link_to "Sign out", destroy_user_session_path, class: "btn btn-green", method: :delete

.block
  h1 Profile

  div
    | Name: #{current_user.name}
    br
    | Address: #{current_user.address}
    br
    | Phone: #{current_user.phone}

.block
  h1 Current borrow

.block
  h1 Past borrow
