.block
  input.input-gray.width-50 type="text" placeholder="book title or author"
  button.btn.btn-green Search
  br
  br
  | ALL 
  | #
  span<>
  - ("A".."Z").each do |char|
    = char
    span<>

- @books.each do |book|
  .block
    = link_to book.title, book
    em<> by
    | #{book.author}
    br
    = book.state
