.block
  h1 = @book.title
  table
    tr
      td Author
      td = @book.author
    tr
      td Publisher
      td = @book.publisher
    tr
      td Year
      td = @book.year
    tr
      td ISBN-10
      td = @book.isbn_10
    tr
      td ISBN-13
      td = @book.isbn_13
.block
  - if @book.available?
    = link_to "Place hold", holds_path(book_id: @book.id), method: :post, class: "btn btn-green"
  - elsif @book.unavailable?
    | This book is currently unavailable. You cannot borrow it.
  - elsif @book.on_hold?
    | This book is currently on hold. You cannot borrow it.
  - elsif @book.borrowed?
    | This book is currently borrowed by someone. You cannot borrow it.
  - else 
    | This book is lost.

