#wrap {
  width: 800px;
  margin: 0 auto;
}

#nav {
  background: #f38291;
  margin-top: 20px;

  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      padding: 15px 20px 10px 20px;

      a {
        text-decoration: none;
        font-size: 19px;
        line-height: 25px;
        font-weight: 700;
        display: block;
        color: #fff;
      }
    }
  }
}

#main {
  
}

.block {
  margin: 20px 0px;
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #cdcdcd;
  border-top: 2px solid #f3abb5;
  font-size: 19px;
  line-height: 25px;
  text-align: justify;

  h1 {
    text-transform: uppercase;
    font-size: 20px;
  }

  fieldset {
    margin-bottom: 0;
  }
}

.book-list {
  ul {
    margin: 0;
    list-style: none;
  }
}
