doctype html
html
  head
    title Littlelibrary
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  body
    #wrap
      #nav
        ul.admin
          li = link_to "OVERVIEW", admin_root_path
          li = link_to "BOOKS", admin_books_path
          li = link_to "USERS", admin_users_path
          li = link_to "BORROWS", admin_borrows_path
          li = link_to "SITE", root_path

      #main
        p.notice = notice
        p.alert = alert
        = yield