doctype html
html
  head
    title Littlelibrary
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  body
    #wrap
      #nav
        ul.site
          li = link_to "HOME", root_path
          li = link_to "BOOKS", books_path     
          - if current_user
            li = link_to "MY ACCOUNT", current_user
            - if current_user.is_admin?
              li = link_to "ADMIN", admin_root_path
          - else
            li = link_to "SIGN IN", new_user_session_path
          

      #main
        p.notice = notice
        p.alert = alert
        = yield
